<div class='tw-text-sm {{ mocClass }}' id='main'>
  <p *ngIf='mocLabel' class='tw-font-medium tw-pl-2.5 tw-mt-4 tw-mb-2 {{ (isValidated && mocControl.invalid) ? "tw-text-red" : "" }}'>
    {{ (mocLabel | translate) + ((mocLabel | translate).endsWith(':') ? "" : ":") + (mocRequired ? " *" : "") }}
  </p>
  <div class='tw-relative'>
    <input #inputElement *ngIf='!mocTextArea'
           [formControl]='mocControl'
           [max]='max'
           [maxlength]='maxLength'
           [min]='min'
           [minlength]='minLength'
           [placeholder]='mocPlaceholder || ""'
           [readonly]='readonly'
           [style]='styles'
           [type]='type'
           [autocomplete]='mocAutoComplete ? "none" : true'
           class='{{ mocStyle }} {{ (isValidated && mocControl.invalid) ? "invalid" : "" }} tw-border tw-p-2.5 tw-rounded tw-w-full'/>
    <textarea #inputElement *ngIf='mocTextArea'
              [formControl]='mocControl'
              [maxlength]='maxLength'
              [minlength]='minLength'
              [placeholder]='mocPlaceholder || ""'
              [readonly]='readonly'
              [style]='styles'
              class='{{ mocStyle }} {{ (isValidated && mocControl.invalid) ? "invalid" : "" }} tw-border tw-p-2.5 tw-rounded tw-w-full'></textarea>
    <div (click)='showPasswordChange()'
         *ngIf='isShowEye'
         class='tw-absolute tw-right-3 tw-top-4 tw-cursor-pointer tw-text-lg'>
      <i class='fa-solid fa-eye{{ isShowPassword ? "-slash" : "" }} tw-text-gray'></i>
    </div>
  </div>
  <div *ngIf='isValidated && mocControl.invalid && mocControl.errors'>
    <moc-error-message-processor [error]='mocControl.errors'></moc-error-message-processor>
  </div>
</div>
