<footer class='fixed inset-x-0 bottom-0 bg-white'>
  <div class='flex justify-center w-full'>
    <div class='flex justify-center h-full'>
      <button type='button' class='uppercase text-center text-black font-medium p-4 w-60'>
        Download Data
      </button>
    </div>
    <div class='flex justify-center h-full'>
      <button type='button' class='uppercase text-center text-black font-medium p-4 w-60'>
        Preview
      </button>
    </div>
    <div class='flex justify-center h-full'>
      <button type='button' class='uppercase text-center text-black font-medium p-4 w-60'>
        Save this schema
      </button>
    </div>
    <div class='flex justify-center h-full'>
      <button type='button' class='uppercase text-center text-black font-medium p-4 w-60'>
        More
      </button>
    </div>
  </div>
</footer>


