<footer class='fixed inset-x-0 bottom-0 bg-white'>
  <div class='flex justify-center w-full'>
    <div class='flex justify-center h-full'>
      <button type='button' class='uppercase text-center text-black font-medium p-4 w-60'>
        Download Data
      </button>
    </div>
    <div class='flex justify-center h-full'>
      <button type='button' class='uppercase text-center text-black font-medium p-4 w-60'
              (click)='showPreviewEventEmitter.emit()'
      >Preview
      </button>
    </div>
    <div class='flex justify-center h-full'>
      <button type='button' class='uppercase text-center text-black font-medium p-4 w-60'>
        Save this schema
      </button>
    </div>
    <div class='flex justify-center h-full'>
      <button type='button' class='flex justify-center items-center uppercase text-center text-black font-medium p-4 w-60'>
        More
        <img class='w-6 ml-2.5' src='assets/icon/general/down_button.png' alt='more'/>
      </button>
    </div>
  </div>
</footer>


