<div id='form' class='mt-28 mx-auto'>
  <div *ngIf='table.controls.length'
       class='flex ml-5 justify-center'>
    <span class='font-medium ml-2.5 w-60'>{{ 'general.table.name' | translate | uppercase }}</span>
    <span class='font-medium ml-2.5 w-60'>{{ 'general.table.sql_type' | translate | uppercase }}</span>
    <span class='font-medium ml-2.5 w-60'>{{ 'general.table.generate_type' | translate | uppercase }}</span>
    <span class='font-medium ml-2.5 w-60'>{{ 'general.table.option' | translate | uppercase }}</span>
  </div>
  <div class='mt-4 relative'>
    <span *ngIf='!table.controls.length'
          class='flex justify-center'
          [innerHTML]='"general.table.empty" | translate'>
    </span>
    <div *ngFor='let field of table.controls; index as index'>
      <ng-container [formGroup]='field'>
        <div class='field flex mt-2.5 justify-center'>
          <div class='bg-white rounded-md shadow-light flex items-center ml-2.5 w-60 h-11 py-0 px-5 relative'>
            <input formControlName='name'
                   class='outline-border-none' type='text'
                   [placeholder]='"general.table.name_of_field" | translate'
            />
          </div>
          <div
            class='justify-between flex bg-white items-center rounded-md cursor-pointer shadow-light ml-2.5 w-60 h-11 py-0 px-5'
            (click)='selectTypeOnClick(field.get("sqlType")?.value, index, true)'>
            <span>{{ field.get('sqlType')?.value.code | truncate: 20 }}</span>
            <img class='icon' src='assets/icon/general/down_button.png' alt='down button'/>
          </div>
          <div
            class='justify-between flex bg-white items-center rounded-md cursor-pointer shadow-light ml-2.5 w-60 h-11 py-0 px-5'
            (click)='selectTypeOnClick(field.get("generateType")?.value, index, false)'>
            <span>{{ field.get('generateType')?.value.code | truncate: 20 }}</span>
            <img class='icon' src='assets/icon/general/down_button.png' alt='down button'/>
          </div>
          <div class='flex items-center ml-2.5'>
            <div class='flex items-center'>
              <span class='font-medium'>{{ 'general.table.blank' | translate | titlecase }}:</span>
              <div class='rounded-md bg-white shadow-light flex items-center ml-2.5 h-11 py-0 px-5 w-24'>
                <input [max]='100'
                       [min]='0'
                       [placeholder]='"general.table.blank" | translate | titlecase'
                       [value]='field.get("option")?.value["blank"]'
                       class='outline-border-none w-14'
                       type='number'
                />
              </div>
            </div>
            <div class='flex justify-center items-center bg-white rounded-md cursor-pointer ml-2.5 w-11 h-11'>
              <img class='icon' src='assets/icon/general/sigma.png' alt='sigma'/>
            </div>
            <div
              class='flex justify-center bg-white rounded-md items-center cursor-pointer shadow-light ml-2.5 w-11 h-11'
              (click)='removeField(index)'>
              <img class='icon' src='assets/icon/general/delete.png' alt='delete'/>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class='flex justify-center'>
      <button (click)='insertField()'
              [innerHTML]='"+"'
              class='bg-main text-white outline-border-none rounded-full text-2xl font-medium shadow-light w-11 h-11 mt-2.5 ml-2.5 mb-0 mr-0'
              type='button'>
      </button>
    </div>
  </div>
</div>
<app-select-type
  *ngIf='isDisplaySelectType'
  [selectTypeOption]='selectTypeOption'
  (exitEventEmitter)='isDisplaySelectType=false'
  (selectedTypeEventEmitter)='selectTypeUpdate($event)'
></app-select-type>
