#select-type {
  background-color: rgba(0, 0, 0, 0.6);

  .board {
    content: '';
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 630px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    background-color: #FFF;
  }
}

.header {
  .active {
    background-color: #3DA2FF;
    color: #fff;
  }

  .item:not(.active):hover {
    background-color: #dbe8ff;
  }
}

.cards {
  height: 500px;

  .card {
    background-color: #f8f8fc;
    flex-basis: 28%;
  }

  .active {
    background-color: #cce7ff;
  }

  .card:not(.active):hover {
    background-color: #cce7ff;
  }
}

.btn-cancel:hover {
  background-color: #E8F1FF;
}
