<div id='main' [class]='class'>
  <p class='mt-8 text-justify text-blue text-2xl'>What's new in Mocker?</p>
  <table class='mt-3'>
    <tr>
      <td class='p-2 w-28'>2/3/2023</td>
      <td class='p-2' colspan='2'>Added the ability to generate v5 UUIDs via a new uuid_v5(namespace, name) function in
        formulas
      </td>
    </tr>
    <tr>
      <td class='p-2 w-28'>1/22/2023</td>
      <td class='p-2' colspan='2'>Added the ability to force the quote character on custom file formats.
    </tr>
    <tr>
      <td class='p-2 w-28'>1/4/2023</td>
      <td class='p-2' colspan='2'>Added Address Line 2 type.
    </tr>
    <tr>
      <td class='p-2 w-28'>12/22/2022</td>
      <td class='p-2' colspan='2'>Added a ULID data type.
    </tr>
    <tr>
      <td class='p-2 w-28'>11/20/2022</td>
      <td class='p-2' colspan='2'>Added airport data.
    </tr>
    <tr>
      <td class='p-2 w-28'>11/14/2021</td>
      <td class='p-2' colspan='2'>You can now generate datasets using JSON and import them into other schemas using the
        Dataset Column type.
    </tr>
    <tr>
      <td class='p-2 w-28'>10/14/2021</td>
      <td class='p-2' colspan='2'>Added support for InfluxDB
    </tr>
    <tr>
      <td class='p-2 w-28'>6/19/2021</td>
      <td class='p-2' colspan='2'>Added the ability to import fields from a JSON schema or example JSON object.
    </tr>
    <tr>
      <td class='p-2 w-28'>5/22/2021</td>
      <td class='p-2' colspan='2'>You can now create a dataset directly from a schema. You no longer need to download
        and reupload generated
        data to create a datase2!
    </tr>
    <tr>
      <td class='p-2 w-28'>5/19/2021</td>
      <td class='p-2' colspan='2'>You can now stream data to an MQTT endpoint! Click More > Stream to MQTT Endpoint...
        to get started.
    </tr>
    <tr>
      <td class='p-2 w-28'>5/3/2021</td>
      <td class='p-2' colspan='2'>Added types related to construction work.
    </tr>
    <tr>
      <td class='p-2 w-28'>5/3/2021</td>
      <td class='p-2' colspan='2'>Added Etherium and Tezos types.
    </tr>
    <tr>
      <td class='p-2 w-28'>4/10/2021</td>
      <td class='p-2' colspan='2'>Added a download button to the preview dialog.
    </tr>
    <tr>
      <td class='p-2 w-28'>4/4/2021</td>
      <td class='p-2' colspan='2'>You can now use regular expressions to generate data in formulas. For example
        /d+/.gen
      </td>
    </tr>
    <tr>
      <td class='p-2 w-28'>4/2/2021</td>
      <td class='p-2' colspan='2'>Restored the ability to backup your schemas to files.
    </tr>
  </table>
</div>
