#select-type {
  background-color: rgba(0, 0, 0, 0.6);

  .board {
    content: '';
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 630px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  }
}

.header {
  margin-left: -10px;

  .active {
    background-color: #3DA2FF;
    color: #fff;
  }

  .item:not(.active):hover {
    background-color: #E8F1FF;
  }
}

.cards {
  height: 500px;

  .card {
    flex-basis: 28%;

    .preview {
      z-index: 1;
      top: 30%;
      left: 90%;

    }
  }

  .card:hover {
    background-color: #E8F1FF;

    .preview {
      display: block;
    }
  }
}

.btn-cancel:hover {
  background-color: #E8F1FF;
}
