<div class='tw-w-screen tw-h-screen center-box tw-bg-center tw-bg-contain tw-bg-no-repeat' id='main'>
  <div class='tw-w-100 tw-bg-white tw-rounded tw-drop-shadow-2xl tw-text-sm tw-text-center tw-p-10'>
    <img alt='logo' class='tw-w-44 tw-mx-auto' ngSrc='assets/png/logo.png' height='409' width='2082'/>
    <p class='tw-font-bold tw-mt-5 text-primary-solid'>{{ 'component.forget_password.title' | translate }}</p>
    <p class='tw-text-left tw-mt-4'>{{ 'component.forget_password.instruction' | translate }}</p>
    <moc-input [control]='username'
               [placeholder]='"component.forget_password.email_address_placeholder" | translate'
               class='tw-mt-2'
               selfClass='{{ isNotExistedUsername ? "invalid" : "" }} tw-mt-2'
               type='email'></moc-input>
    <p *ngIf='isNotExistedUsername'
       class='tw-mt-2 tw-text-red'>{{ 'component.forget_password.username_not_exist' | translate }}</p>
    <moc-button (click)='submit()' label='component.forget_password.send_verification_code'></moc-button>
    <hr class='tw-mt-8'/>
    <p class='tw-mt-4 tw-text-blue'>
      <a class='hover:tw-underline'
         routerLink='/auth/sign-in'>{{ 'component.forget_password.return_sign_in' | translate }}</a></p>
  </div>
</div>
