<div id='main' class='w-screen h-screen center-box'>
  <div class='bg-white rounded drop-shadow-2xl text-sm text-center p-10'>
    <img src='assets/png/logo.png' alt='logo' class='w-44 mx-auto'/>
    <p class='font-bold mt-5 text-primary-solid'>{{ 'component.forget_password.title' | translate }}</p>
    <p class='text-left mt-4'>{{ 'component.forget_password.instruction' | translate }}</p>
    <moc-field [control]='username'
               [placeholder]='"component.forget_password.email_address_placeholder" | translate'
               class='mt-2'
               selfClass='{{ isNotExistedUsername ? "invalid" : "" }} mt-2'
               type='email'></moc-field>
    <p class='mt-2 text-red'
       *ngIf='isNotExistedUsername'>{{ 'component.forget_password.username_not_exist' | translate }}</p>
    <moc-button label='component.forget_password.send_verification_code' (click)='submit()'></moc-button>
    <hr class='mt-8'/>
    <p class='mt-4 text-blue'>
      <a routerLink='/auth/sign-in'
         class='hover:underline'>{{ 'component.forget_password.return_sign_in' | translate }}</a></p>
  </div>
</div>
