<div id='form'>
  <div class='header d-flex'>
    <span class='f-weight-bold'>Name</span>
    <span class='f-weight-bold'>Type</span>
    <span class='f-weight-bold'>Gen Type</span>
    <span class='f-weight-bold'>Option</span>
  </div>
  <div class='body'>
    <div class='field d-flex'>
      <div class='name back-color-white b-radius-10 b-shadow-light d-flex al-items-center'>
        <input class='outline-border-none' type='text' placeholder='Name of field'/>
      </div>
      <div class='type d-flex back-color-white al-items-center b-radius-10 c-pointer b-shadow-light'>
        <span>UUID</span>
        <img class='icon' src='assets/icon/general/down_button.png' alt='down button'/>
      </div>
      <div class='gen-type d-flex back-color-white al-items-center b-radius-10 c-pointer b-shadow-light'>
        <span>UUID</span>
        <img class='icon' src='assets/icon/general/down_button.png' alt='down button'/>
      </div>
      <div class='option d-flex al-items-center'>
        <div class='blank d-flex al-items-center'>
          <span class='f-weight-bold'>Blank:</span>
          <div class='blank-value b-radius-10 back-color-white b-shadow-light d-flex al-items-center'>
            <input class='outline-border-none' type='text' placeholder='Blank'/>
          </div>
        </div>
        <div class='sigma d-flex al-items-center back-color-white b-radius-10 c-pointer'>
          <img class='icon' src='assets/icon/general/sigma.png' alt='sigma'/>
        </div>
      </div>
      <div class='action d-flex'>
        <div class='edit d-flex back-color-white b-radius-10 al-items-center c-pointer b-shadow-light'>
          <img class='icon' src='assets/icon/general/edit.png' alt='edit'/>
        </div>
        <div class='delete d-flex back-color-white b-radius-10 al-items-center c-pointer b-shadow-light'>
          <img class='icon' src='assets/icon/general/delete.png' alt='delete'/>
        </div>
      </div>
    </div>    <div class='field d-flex'>
      <div class='name back-color-white b-radius-10 b-shadow-light d-flex al-items-center'>
        <input class='outline-border-none' type='text' placeholder='Name of field'/>
      </div>
      <div class='type d-flex back-color-white al-items-center b-radius-10 c-pointer b-shadow-light'>
        <span>UUID</span>
        <img class='icon' src='assets/icon/general/down_button.png' alt='down button'/>
      </div>
      <div class='gen-type d-flex back-color-white al-items-center b-radius-10 c-pointer b-shadow-light'>
        <span>UUID</span>
        <img class='icon' src='assets/icon/general/down_button.png' alt='down button'/>
      </div>
      <div class='option d-flex al-items-center'>
        <div class='blank d-flex al-items-center'>
          <span class='f-weight-bold'>Blank:</span>
          <div class='blank-value b-radius-10 back-color-white b-shadow-light d-flex al-items-center'>
            <input class='outline-border-none' type='text' placeholder='Blank'/>
          </div>
        </div>
        <div class='sigma d-flex al-items-center back-color-white b-radius-10 c-pointer'>
          <img class='icon' src='assets/icon/general/sigma.png' alt='sigma'/>
        </div>
      </div>
      <div class='action d-flex'>
        <div class='edit d-flex back-color-white b-radius-10 al-items-center c-pointer b-shadow-light'>
          <img class='icon' src='assets/icon/general/edit.png' alt='edit'/>
        </div>
        <div class='delete d-flex back-color-white b-radius-10 al-items-center c-pointer b-shadow-light'>
          <img class='icon' src='assets/icon/general/delete.png' alt='delete'/>
        </div>
      </div>
    </div>    <div class='field d-flex'>
      <div class='name back-color-white b-radius-10 b-shadow-light d-flex al-items-center'>
        <input class='outline-border-none' type='text' placeholder='Name of field'/>
      </div>
      <div class='type d-flex back-color-white al-items-center b-radius-10 c-pointer b-shadow-light'>
        <span>UUID</span>
        <img class='icon' src='assets/icon/general/down_button.png' alt='down button'/>
      </div>
      <div class='gen-type d-flex back-color-white al-items-center b-radius-10 c-pointer b-shadow-light'>
        <span>UUID</span>
        <img class='icon' src='assets/icon/general/down_button.png' alt='down button'/>
      </div>
      <div class='option d-flex al-items-center'>
        <div class='blank d-flex al-items-center'>
          <span class='f-weight-bold'>Blank:</span>
          <div class='blank-value b-radius-10 back-color-white b-shadow-light d-flex al-items-center'>
            <input class='outline-border-none' type='text' placeholder='Blank'/>
          </div>
        </div>
        <div class='sigma d-flex al-items-center back-color-white b-radius-10 c-pointer'>
          <img class='icon' src='assets/icon/general/sigma.png' alt='sigma'/>
        </div>
      </div>
      <div class='action d-flex'>
        <div class='edit d-flex back-color-white b-radius-10 al-items-center c-pointer b-shadow-light'>
          <img class='icon' src='assets/icon/general/edit.png' alt='edit'/>
        </div>
        <div class='delete d-flex back-color-white b-radius-10 al-items-center c-pointer b-shadow-light'>
          <img class='icon' src='assets/icon/general/delete.png' alt='delete'/>
        </div>
      </div>
    </div>    <div class='field d-flex'>
      <div class='name back-color-white b-radius-10 b-shadow-light d-flex al-items-center'>
        <input class='outline-border-none' type='text' placeholder='Name of field'/>
      </div>
      <div class='type d-flex back-color-white al-items-center b-radius-10 c-pointer b-shadow-light'>
        <span>UUID</span>
        <img class='icon' src='assets/icon/general/down_button.png' alt='down button'/>
      </div>
      <div class='gen-type d-flex back-color-white al-items-center b-radius-10 c-pointer b-shadow-light'>
        <span>UUID</span>
        <img class='icon' src='assets/icon/general/down_button.png' alt='down button'/>
      </div>
      <div class='option d-flex al-items-center'>
        <div class='blank d-flex al-items-center'>
          <span class='f-weight-bold'>Blank:</span>
          <div class='blank-value b-radius-10 back-color-white b-shadow-light d-flex al-items-center'>
            <input class='outline-border-none' type='text' placeholder='Blank'/>
          </div>
        </div>
        <div class='sigma d-flex al-items-center back-color-white b-radius-10 c-pointer'>
          <img class='icon' src='assets/icon/general/sigma.png' alt='sigma'/>
        </div>
      </div>
      <div class='action d-flex'>
        <div class='edit d-flex back-color-white b-radius-10 al-items-center c-pointer b-shadow-light'>
          <img class='icon' src='assets/icon/general/edit.png' alt='edit'/>
        </div>
        <div class='delete d-flex back-color-white b-radius-10 al-items-center c-pointer b-shadow-light'>
          <img class='icon' src='assets/icon/general/delete.png' alt='delete'/>
        </div>
      </div>
    </div>    <div class='field d-flex'>
      <div class='name back-color-white b-radius-10 b-shadow-light d-flex al-items-center'>
        <input class='outline-border-none' type='text' placeholder='Name of field'/>
      </div>
      <div class='type d-flex back-color-white al-items-center b-radius-10 c-pointer b-shadow-light'>
        <span>UUID</span>
        <img class='icon' src='assets/icon/general/down_button.png' alt='down button'/>
      </div>
      <div class='gen-type d-flex back-color-white al-items-center b-radius-10 c-pointer b-shadow-light'>
        <span>UUID</span>
        <img class='icon' src='assets/icon/general/down_button.png' alt='down button'/>
      </div>
      <div class='option d-flex al-items-center'>
        <div class='blank d-flex al-items-center'>
          <span class='f-weight-bold'>Blank:</span>
          <div class='blank-value b-radius-10 back-color-white b-shadow-light d-flex al-items-center'>
            <input class='outline-border-none' type='text' placeholder='Blank'/>
          </div>
        </div>
        <div class='sigma d-flex al-items-center back-color-white b-radius-10 c-pointer'>
          <img class='icon' src='assets/icon/general/sigma.png' alt='sigma'/>
        </div>
      </div>
      <div class='action d-flex'>
        <div class='edit d-flex back-color-white b-radius-10 al-items-center c-pointer b-shadow-light'>
          <img class='icon' src='assets/icon/general/edit.png' alt='edit'/>
        </div>
        <div class='delete d-flex back-color-white b-radius-10 al-items-center c-pointer b-shadow-light'>
          <img class='icon' src='assets/icon/general/delete.png' alt='delete'/>
        </div>
      </div>
    </div>    <div class='field d-flex'>
      <div class='name back-color-white b-radius-10 b-shadow-light d-flex al-items-center'>
        <input class='outline-border-none' type='text' placeholder='Name of field'/>
      </div>
      <div class='type d-flex back-color-white al-items-center b-radius-10 c-pointer b-shadow-light'>
        <span>UUID</span>
        <img class='icon' src='assets/icon/general/down_button.png' alt='down button'/>
      </div>
      <div class='gen-type d-flex back-color-white al-items-center b-radius-10 c-pointer b-shadow-light'>
        <span>UUID</span>
        <img class='icon' src='assets/icon/general/down_button.png' alt='down button'/>
      </div>
      <div class='option d-flex al-items-center'>
        <div class='blank d-flex al-items-center'>
          <span class='f-weight-bold'>Blank:</span>
          <div class='blank-value b-radius-10 back-color-white b-shadow-light d-flex al-items-center'>
            <input class='outline-border-none' type='text' placeholder='Blank'/>
          </div>
        </div>
        <div class='sigma d-flex al-items-center back-color-white b-radius-10 c-pointer'>
          <img class='icon' src='assets/icon/general/sigma.png' alt='sigma'/>
        </div>
      </div>
      <div class='action d-flex'>
        <div class='edit d-flex back-color-white b-radius-10 al-items-center c-pointer b-shadow-light'>
          <img class='icon' src='assets/icon/general/edit.png' alt='edit'/>
        </div>
        <div class='delete d-flex back-color-white b-radius-10 al-items-center c-pointer b-shadow-light'>
          <img class='icon' src='assets/icon/general/delete.png' alt='delete'/>
        </div>
      </div>
    </div>
    <button type='button' class='btn-create outline-border-none b-radius-10 c-pointer f-weight-bold b-shadow-light'>Add another field</button>
  </div>
  <hr class='back-color-white'/>
  <div class='footer d-flex al-items-center'>
    <div class='row d-flex al-items-center'>
      <span class='f-weight-bold'>#Rows:</span>
      <div class='row-value back-color-white b-radius-10 b-shadow-light d-flex al-items-center'>
        <input class='outline-border-none' type='text' placeholder='Rows'/>
      </div>
    </div>
    <div class='format d-flex al-items-center'>
      <span class='f-weight-bold'>Format:</span>
      <div class='format-dropdown d-flex b-radius-10 back-color-white al-items-center c-pointer b-shadow-light'>
        <span>SQL</span>
        <img class='icon' src='assets/icon/general/down_button.png' alt='down button'/>
      </div>
    </div>
    <div class='table-name d-flex al-items-center'>
      <span class='f-weight-bold'>Table name:</span>
      <div class='name-value back-color-white b-radius-10 b-shadow-light d-flex al-items-center'>
        <input class='outline-border-none' type='text' placeholder='Name'/>
      </div>
    </div>
    <div class='check-box d-flex al-items-center c-pointer' (click)='isIncludeCreateTable = !isIncludeCreateTable'>
      <div class='btn b-shadow-light'>
        <img *ngIf='isIncludeCreateTable' class='icon' src='assets/icon/general/done.png' alt='done'/>
      </div>
      <span class='f-weight-bold'>Include CREATE TABLE</span>
    </div>
  </div>
  <hr class='back-color-white'/>
</div>

