#dialog {
  background-color: rgba(0, 0, 0, 0.6);

  .form {
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 200px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    background-color: #FFF;

    .body {
      max-height: 200px;
    }
  }
}
