<div id='dialog' class='dialog'>
  <div class='form absolute rounded-md p-10'>
    <p class='font-bold'>{{ option.title | uppercase }}</p>
    <div class='body overflow-y-scroll text-justify mt-5'>{{ option.body }}</div>
    <div class='flex absolute bottom-10 right-10 mt-10 justify-end -mr-3'>
      <button *ngIf='option.btnCancel' (click)='modalInstance.close(false)' type='button' class='shadow-light font-medium rounded-md px-5 py-2 mr-3'>Cancel</button>
      <button *ngIf='option.btnOk' (click)='modalInstance.close(true)' type='button' class='shadow-light text-white font-bold rounded-md bg-blue-500 px-5 py-2 mr-3'>OK</button>
    </div>
  </div>
</div>
