<div [class]='class' id='main'>
  <div [class]='selfClass'>
    <table class='tw-w-full' [formGroup]='formGroup'>
      <thead class='tw-sticky tw-top-0 tw-bg-white tw-z-20'>
      <tr>
        <th class='tw-pb-3 first-letter:tw-underline'>{{ 'component.table_detail.field_name' | translate }}</th>
        <th class='tw-pb-3 first-letter:tw-underline'>{{ 'component.table_detail.generate_type' | translate }}</th>
        <th class='tw-pb-3 first-letter:tw-underline'>{{ 'component.table_detail.sql_type' | translate }}</th>
        <th class='tw-pb-3 first-letter:tw-underline'>{{ 'component.table_detail.options' | translate }}</th>
      </tr>
      </thead>
      <tbody *ngFor='let field of formGroup.controls.fields.controls; let i = index;' formArrayName='fields'>
      <tr [formGroupName]='i'>
        <td class='tw-w-1/4 tw-px-3 tw-py-1.5 tw-align-top'>
          <moc-input [control]='field.controls.name'
                     [placeholder]='"component.table_detail.field_name_placeholder" | translate'
                     selfClass='tw-px-5'></moc-input>
        </td>
        <td class='tw-w-1/4 tw-px-3 tw-py-1.5 tw-align-top'>
          <moc-button (click)='chooseType(field.controls.generateType, true)'
                      [control]='field.controls.generateType'
                      [label]='field.controls.generateType.value?.code || "Generate Type"'
                      icon='fa-solid fa-arrow-up-arrow-down'
                      selfClass='tw-text-left tw-px-5 btn-light {{ !field.controls.generateType.value ? "tw-text-gray !tw-font-normal" : "" }}'>
          </moc-button>
        </td>
        <td class='tw-w-1/4 tw-px-3 tw-py-1.5 tw-align-top'>
          <moc-button (click)='chooseType(field.controls.sqlType, false)'
                      [control]='field.controls.sqlType'
                      [label]='field.controls.sqlType.value?.code || "Sql Type"'
                      icon='fa-solid fa-arrow-up-arrow-down'
                      selfClass='tw-text-left tw-px-5 btn-light {{ !field.controls.sqlType.value ? "tw-text-gray !tw-font-normal" : "" }}'>
          </moc-button>
        </td>
        <td class='tw-w-1/4 tw-px-3 tw-py-1.5 tw-align-top'>
          <div class='tw-flex tw-justify-between'>
            <p class='tw-self-center'>{{ 'Blank:' }}</p>
            <moc-input [control]='field.controls.option.controls.blank' [max]='100'
                       [min]='0'
                       class='tw-w-20'
                       placeholder='0%'
                       selfClass='tw-text-center'
                       type='number'></moc-input>
            <moc-button class='tw-w-12' icon='fa-solid fa-sigma'
                        selfClass='btn-light tw-h-10'></moc-button>
            <i (click)='removeField(i)' class='tw-text-lg tw-cursor-pointer fa-regular fa-circle-xmark tw-self-center'></i>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td class='tw-py-3 tw-text-center' colspan='4'>{{ 'component.table_detail.instruction' | translate }}</td>
      </tr>
      </tfoot>
    </table>
  </div>
  <moc-button (click)='insertField()' class='tw-w-[calc(208px)] tw-mt-3 tw-inline-block' label='component.table_detail.add_another_field'
              selfClass='btn-primary'></moc-button>
</div>
