<div [modal]='this' id='main' popup>
  <div [formGroup]='formGroup' class='tw-text-sm tw-w-112 ptw--5'>
    <p class='tw-text-center tw-font-bold tw-text-gray'>{{ 'modal.change_password.title' | translate }}</p>
    <img alt='change_password' class='tw-w-32 tw-mt-4 tw-mx-auto' ngSrc='assets/png/auth/change_password.png'
         height='256' width='256'/>
    <p *ngIf='!isShowOldPassword' class='tw-mt-4 tw-text-gray'>{{ 'modal.change_password.instruction' | translate }}</p>
    <moc-input *ngIf='isShowOldPassword'
               [control]='formGroup.controls.oldPassword'
               [mocPlaceholder]='"modal.change_password.old_password_placeholder" | translate'
               label='modal.change_password.old_password'
               type='password'></moc-input>
    <moc-input [control]='formGroup.controls.newPassword'
               [mocPlaceholder]='"modal.change_password.new_password_placeholder" | translate'
               label='modal.change_password.new_password'
               type='password'></moc-input>
    <moc-input [control]='formGroup.controls.confirmPassword'
               [mocPlaceholder]='"modal.change_password.confirm_password_placeholder" | translate'
               [selfClass]='isPasswordNotMatch ? "invalid" : ""'
               label='modal.change_password.confirm_password'
               type='password'></moc-input>
    <p *ngIf='isPasswordNotMatch'
       class='tw-text-red tw-text-center tw-mt-2'>{{ 'modal.change_password.password_not_match' | translate }}</p>
    <moc-button (click)='submit()' class='tw-mt-5' label='modal.change_password.change_password'
                selfClass='btn-primary'></moc-button>
  </div>
</div>
