<div id='main' class='dialog'>
  <div class='text-sm' [formGroup]='formGroup'>
    <p class='text-center font-bold text-gray-600'>{{ 'modal.change_password.title' | translate }}</p>
    <img class='w-32 mt-4 mx-auto' src='assets/png/auth/change_password.png' alt='change_password'/>
    <p class='mt-4 text-gray-500'>{{ 'modal.change_password.instruction' | translate }}</p>
    <moc-field *ngIf='isShowOldPassword'
               [formControl]='formGroup.controls.oldPassword'
               [placeholder]='"modal.change_password.old_password_placeholder" | translate'
               label='modal.change_password.old_password'
               ngDefaultControl
               type='password'></moc-field>
    <moc-field [formControl]='formGroup.controls.newPassword'
               [placeholder]='"modal.change_password.new_password_placeholder" | translate'
               label='modal.change_password.new_password'
               ngDefaultControl
               type='password'></moc-field>
    <moc-field [selfClass]='isPasswordNotMatch ? "invalid" : ""'
               [formControl]='formGroup.controls.confirmPassword'
               [placeholder]='"modal.change_password.confirm_password_placeholder" | translate'
               label='modal.change_password.confirm_password'
               ngDefaultControl
               type='password'></moc-field>
    <p *ngIf='isPasswordNotMatch'
       class='text-red text-center mt-2'>{{ 'modal.change_password.password_not_match' | translate }}</p>
    <moc-button (click)='submit()' label='modal.change_password.change_password'></moc-button>
  </div>
</div>
