<div id='preview' class='fixed top-0 left-0 w-full h-full'>
  <div class='board absolute bg-white rounded-md'>
    <p class='flex justify-between mt-2.5 font-medium bg-white z-10 pt-5 px-5'>
      PREVIEW
      <button class='flex justify-between'
              (click)='this.exitEventEmitter.emit()'
      >Close
        <img class='icon ml-2.5' src='assets/icon/general/cancel.png' alt='cancel'/>
      </button>
    </p>
    <nav class='flex justify-center bg-white h-10'>
      <a href='#' class='no-underline text-center text-black font-medium w-24 {{isTable ? "active" : ""}}'
         (click)='isTable=true'
      >TABLE</a>
      <a href='#' class='no-underline text-center text-black font-medium w-36 {{!isTable ? "active" : ""}}'
         (click)='isTable=false'
      >FORMAT ({{format | uppercase}})</a>
    </nav>
    <section class='px-5 overflow-y-scroll relative'>
      <table *ngIf='isTable' class='w-full'>
        <tr class='sticky top-0 bg-white disabled'>
          <th *ngFor='let item of data[0] | keyvalue' class='font-medium text-left'>{{item.key}}</th>
        </tr>
        <tr *ngFor='let record of data'>
          <td *ngFor='let item of record | keyvalue'>{{item.value}}</td>
        </tr>
      </table>
      <div *ngIf='!isTable'>
        <p *ngFor='let line of data | formatPipe:(this.format)'>{{line}}</p>
      </div>
    </section>
    <section class='pagination text-center mt-5'>
      <button class='w-8 rounded-md font-medium'><</button>
      <button class='ml-2.5 w-8 rounded-md font-medium'>1</button>
      <button class='ml-2.5 w-8 rounded-md font-medium'>2</button>
      <button class='ml-2.5 w-8 rounded-md font-medium active'>3</button>
      <button class='ml-2.5 w-8 rounded-md font-medium'>4</button>
      <button class='ml-2.5 w-8 rounded-md font-medium'>...</button>
      <button class='ml-2.5 w-8 rounded-md font-medium'>></button>
    </section>
  </div>
</div>
