<div id='preview' class='fixed top-0 left-0 w-full h-full'>
  <div class='board absolute bg-white rounded-md'>
    <p class='flex justify-between mt-2.5 font-medium bg-white z-10 pt-5 px-5'>
      PREVIEW
      <button class='flex justify-between'
              (click)='this.exitEventEmitter.emit()'
      >Close
        <img class='icon ml-2.5' src='assets/icon/general/cancel.png' alt='cancel'/>
      </button>
    </p>
    <nav class='flex justify-center bg-white h-12'>
      <a href='#' class='no-underline text-center text-black font-medium w-24 {{isTable ? "active" : ""}}'
         (click)='isTable=true'
      >TABLE</a>
      <a href='#' class='no-underline text-center text-black font-medium w-24 {{!isTable ? "active" : ""}}'
         (click)='isTable=false'
      >RAW</a>
    </nav>
    <section class='px-5 overflow-y-scroll relative'>
      <table *ngIf='isTable' class='w-full'>
        <tr class='sticky top-0 bg-white disabled'>
          <th class='font-medium text-left'>id</th>
          <th class='font-medium text-left'>first_name</th>
          <th class='font-medium text-left'>last_name</th>
          <th class='font-medium text-left'>email</th>
          <th class='font-medium text-left'>gender</th>
          <th class='font-medium text-left'>ip_address</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>11</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>12</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>13</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>14</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>15</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>16</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>11</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>12</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>13</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>14</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>15</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>16</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>11</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>12</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>13</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>14</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>15</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>16</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>11</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>12</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>13</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>14</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>15</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>16</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>11</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>12</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>13</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>14</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>15</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>16</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>11</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>12</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>13</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>14</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>15</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>16</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>11</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>12</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>13</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>14</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>15</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>16</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>11</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>12</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
        <tr>
          <td>13</td>
          <td>Rebecka</td>
          <td>McKenny</td>
          <td>rmckenny4@chron.com</td>
          <td>Female</td>
          <td>67.135.114.98</td>
        </tr>
        <tr>
          <td>14</td>
          <td>Gates-man</td>
          <td>Brunke</td>
          <td>kbrunicke5@unc.edu</td>
          <td>Female</td>
          <td>135.61.183.122</td>
        </tr>
        <tr>
          <td>15</td>
          <td>Pig-ford</td>
          <td>Moor-craft</td>
          <td>gherrerang@networksolutions.com</td>
          <td>Male</td>
          <td>142.200.133.232</td>
        </tr>
        <tr>
          <td>16</td>
          <td>Hiske</td>
          <td>Ranice</td>
          <td>agivens9@illinois.edu</td>
          <td>Male</td>
          <td>133.222.119.183</td>
        </tr>
      </table>
      <div *ngIf='!isTable'>
        <p>id,first_name,last_name,email,gender,ip_address</p>
        <p>1,Livvy,McCaig,lmccaig0@oakley.com,Female,35.150.64.207</p>
        <p>2,Fraze,Pelfer,fpelfer1@wunderground.com,Male,223.105.29.23</p>
        <p>3,Joelle,Faldoe,jfaldoe2@mapy.cz,Female,238.96.227.158</p>
        <p>4,Lamond,Levings,llevings3@wikispaces.com,Male,146.164.25.18</p>
        <p>5,Willem,Tourmell,wtourmell4@about.com,Male,41.13.189.104</p>
        <p>6,Jeanine,Danilovitch,jdanilovitch5@pinterest.com,Female,245.136.245.116</p>
        <p>7,Rose,Juliff,rjuliff6@phoca.cz,Female,163.183.60.242</p>
        <p>8,Emalee,Provost,eprovost7@so-net.ne.jp,Female,187.168.199.46</p>
        <p>9,Ericka,Labes,elabes8@last.fm,Female,140.192.19.209</p>
        <p>10,Sapphire,Winstanley,swinstanley9@shutterfly.com,Female,74.152.219.186</p>
        <p>11,Shanie,McKeney,smckeneya@seesaa.net,Female,158.241.252.21</p>
        <p>12,Winslow,Chipps,wchippsb@skyrock.com,Male,89.149.180.245</p>
        <p>13,Easter,Escalero,eescaleroc@diigo.com,Female,157.158.247.176</p>
        <p>14,Payton,Dolton,pdoltond@state.gov,Male,77.111.170.108</p>
        <p>15,Sher,Colton,scoltone@reuters.com,Female,122.245.14.129</p>
        <p>16,Katlin,Orred,korredf@youku.com,Female,49.199.240.144</p>
        <p>17,Brittaney,Stebbings,bstebbingsg@icq.com,Female,73.47.193.247</p>
        <p>18,Vivyan,Francois,vfrancoish@spiegel.de,Female,195.163.110.252</p>
        <p>19,Augustus,Marikhin,amarikhini@vistaprint.com,Male,66.44.173.88</p>
        <p>20,Chucho,Bigly,cbiglyj@reddit.com,Male,200.135.47.135</p>
        <p>21,Delmore,Hosby,dhosbyk@psu.edu,Male,24.83.101.79</p>
        <p>22,Jule,Pariss,jparissl@virginia.edu,Male,10.226.59.210</p>
        <p>23,Jeniffer,Atwill,jatwillm@aboutads.info,Female,132.7.214.55</p>
        <p>24,George,Brideaux,gbrideauxn@163.com,Male,19.172.74.79</p>
        <p>25,Kelsey,Melladew,kmelladewo@com.com,Male,218.24.77.195</p>
        <p>26,Athena,Spatoni,aspatonip@who.int,Female,161.146.85.210</p>
        <p>27,Irena,Breeze,ibreezeq@networkadvertising.org,Female,223.38.168.210</p>
        <p>28,Renato,Devinn,rdevinnr@liveinternet.ru,Male,49.242.59.139</p>
        <p>29,Christen,Hullin,chullins@icio.us,Female,149.1.228.169</p>
        <p>30,Lon,Hebborne,lhebbornet@dropbox.com,Male,190.172.66.19</p>
        <p>31,Rani,Kalinowsky,rkalinowskyu@mit.edu,Female,146.199.162.32</p>
        <p>32,Raina,Hubbocks,rhubbocksv@marketwatch.com,Female,151.191.209.143</p>
        <p>33,Alexis,Carnie,acarniew@linkedin.com,Female,95.198.71.72</p>
        <p>34,Felic,Wakenshaw,fwakenshawx@answers.com,Male,155.109.115.215</p>
        <p>35,Agosto,MacGaughy,amacgaughyy@artisteer.com,Male,248.14.23.11</p>
        <p>36,Camile,Mila,cmilaz@sina.com.cn,Female,74.213.82.142</p>
        <p>37,Maximo,Witherop,mwitherop10@si.edu,Male,147.222.10.74</p>
        <p>38,Corie,Sweetland,csweetland11@elpais.com,Female,252.83.122.11</p>
        <p>39,Twyla,Beeton,tbeeton12@soundcloud.com,Genderqueer,155.77.126.226</p>
        <p>40,Westleigh,De Vaux,wdevaux13@phoca.cz,Male,231.117.3.90</p>
        <p>41,Flss,Townson,ftownson14@cnet.com,Female,17.104.197.139</p>
        <p>42,Cam,Easthope,ceasthope15@amazon.co.jp,Female,135.189.73.47</p>
        <p>43,Ronald,Crauford,rcrauford16@tripod.com,Male,118.198.20.151</p>
        <p>44,Abby,Petras,apetras17@hao123.com,Genderfluid,236.172.178.46</p>
        <p>45,Claiborne,Pettigree,cpettigree18@state.tx.us,Male,194.49.16.164</p>
        <p>46,Chrystal,Klimes,cklimes19@sun.com,Female,44.227.187.159</p>
        <p>47,Farrand,Leamon,fleamon1a@blogs.com,Female,54.68.151.0</p>
        <p>48,Shaylynn,Curwood,scurwood1b@omniture.com,Female,80.83.218.25</p>
        <p>49,Celestyn,Sirrell,csirrell1c@nifty.com,Female,18.34.62.247</p>
        <p>50,Nicole,Marklew,nmarklew1d@cmu.edu,Agender,117.209.117.104</p>
        <p>51,Roana,Carnegie,rcarnegie1e@feedburner.com,Female,177.206.96.122</p>
        <p>52,Allegra,Sighart,asighart1f@google.ru,Female,80.166.227.218</p>
        <p>53,Wadsworth,Achurch,wachurch1g@xinhuanet.com,Male,86.105.98.78</p>
        <p>54,Emmaline,Le Grys,elegrys1h@seattletimes.com,Female,226.167.78.49</p>
      </div>
    </section>
    <section class='pagination text-center mt-5'>
      <button class='w-8 rounded-md font-medium'><</button>
      <button class='ml-2.5 w-8 rounded-md font-medium'>1</button>
      <button class='ml-2.5 w-8 rounded-md font-medium'>2</button>
      <button class='ml-2.5 w-8 rounded-md font-medium active'>3</button>
      <button class='ml-2.5 w-8 rounded-md font-medium'>4</button>
      <button class='ml-2.5 w-8 rounded-md font-medium'>...</button>
      <button class='ml-2.5 w-8 rounded-md font-medium'>></button>
    </section>
  </div>
</div>
