<div (mouseleave)='isShown=false' class='tw-relative' id='main'>
  <div #dock (click)='selfTrigger()' (mouseenter)='selfTrigger("hover")'>
    <ng-content></ng-content>
  </div>
  <div #popup
       class='{{ isShown ? "" : "tw-hidden" }} tw-bg-white tw-absolute tw-rounded tw-overflow-hidden tw-w-72 tw-z-10 tw-drop-shadow-2xl'>
    <ng-container [ngTemplateOutlet]='header'></ng-container>
    <div (click)='actionClick(action)'
         *ngFor='let action of actions'
         class='tw-flex tw-text-sm tw-items-center tw-px-4 tw-py-2.5 hover:tw-bg-gray tw-cursor-pointer'>
      <i *ngIf='action.icon' class='{{ action.icon }} icon'></i>
      <p class='tw-ml-2'>{{ action.label }}</p>
    </div>
    <ng-container [ngTemplateOutlet]='footer'></ng-container>
  </div>
</div>
