<div id='main' class='relative' (mouseleave)='isShown=false'>
  <div #dock (click)='selfTrigger()' (mouseenter)='selfTrigger("hover")'>
    <ng-content></ng-content>
  </div>
  <div #popup
       class='{{ isShown ? "" : "hidden" }} bg-white absolute rounded overflow-hidden w-72 z-10 drop-shadow-2xl'>
    <ng-container [ngTemplateOutlet]='header'></ng-container>
    <div *ngFor='let action of actions'
         class='flex text-sm items-center px-4 py-2.5 hover:bg-gray cursor-pointer'
         (click)='actionClick(action)'>
      <i *ngIf='action.icon' class='{{ action.icon }} icon'></i>
      <p class='ml-2'>{{ action.label }}</p>
    </div>
    <ng-container [ngTemplateOutlet]='footer'></ng-container>
  </div>
</div>
