@import "variable-color";

#main {
  color: $primary-text-color-bold;

  nav {
    > a:not(.logo):hover,
    > .active {
      color: $primary-color;
    }

    > a:not(.logo):hover:after,
    > .active:after {
      content: '';
      @apply tw-absolute tw-w-full tw-h-0.5 tw-left-0 tw-bottom-0;
      background-color: $primary-color;
    }
  }

  > div > i:hover {
    color: $primary-color;
  }
}
