<div class='tw-w-screen tw-h-screen center-box tw-bg-center tw-bg-contain tw-bg-no-repeat' id='main'>
  <div [formGroup]='formGroup'
       class='tw-w-100 tw-bg-white tw-rounded tw-drop-shadow-2xl tw-text-sm tw-text-center tw-p-10'>
    <img alt='logo' class='tw-w-44 tw-mx-auto' src='assets/png/logo.png'/>
    <p class='tw-font-bold tw-mt-5 text-primary-solid'>{{ 'component.sign_in.title' | translate }}</p>
    <moc-input [mocControl]='formGroup.controls.username'
               [mocPlaceholder]='"component.sign_in.username_placeholder" | translate'
               mocStyle='tw-mt-2'
               type='email'></moc-input>
    <moc-input [mocControl]='formGroup.controls.password'
               [mocPlaceholder]='"component.sign_in.password_placeholder" | translate'
               mocStyle='tw-mt-2'
               type='password'></moc-input>
    <p *ngIf='invalidAuth' class='tw-mt-4 tw-text-red'>{{ 'component.sign_in.invalid_auth' | translate }}</p>
    <moc-button (click)='submit()' mocClass='tw-mt-3' mocStyle='btn-primary' label='component.sign_in.continue'></moc-button>
    <p class='tw-mt-4 tw-text-gray'>{{ 'component.sign_in.or' | translate }}</p>
    <button (click)='signInWithMethod(signInMethod)'
            *ngFor='let signInMethod of signInMethods'
            class='tw-border tw-font-medium tw-mt-4 tw-p-2.5 tw-rounded tw-w-full tw-shadow tw-relative hover:tw-shadow-xl'>
      <img [alt]='signInMethod.icon' class='icon tw-absolute' src='assets/png/auth/{{ signInMethod.icon }}.png'/>
      {{ 'component.sign_in.continue_with_SPACE' | translate }} {{ signInMethod.name }}
    </button>
    <hr class='tw-mt-8'/>
    <p class='tw-mt-4 tw-text-blue'>
      <a class='hover:tw-underline'
         routerLink='/auth/forget-password'>{{ 'component.sign_in.cannot_login' | translate }}</a>
      &nbsp;&#8226;&nbsp;
      <a class='hover:tw-underline' routerLink='/auth/sign-up'>{{ 'component.sign_in.sign_up' | translate }}</a></p>
  </div>
</div>
