<div id='select-type' class='fixed z-10 top-0 left-0 w-full h-full'>
  <div class='board rounded-md absolute text-sm py-2.5 px-5'>
    <div *ngIf='!selectTypeOption.isSQLType'
         class='header flex overflow-auto -ml-2.5'>
      <div class='item text-center rounded-md shadow-light cursor-pointer flex items-center ml-5 py-2.5 px-5 h-10'>
        <span>All</span>
        <span class='ml-2.5'>({{20}})</span>
      </div>
      <div *ngFor='let category of categories; index as index'
           class='{{ category.id === categoryActiveId ? "active" : "" }}  {{ index === categories.length - 1 ? "mr-5" : "" }} item text-center rounded-md shadow-light cursor-pointer flex items-center ml-5 py-2.5 px-5 h-10'
           (click)='categoryOnClick(category.id)'>
        <span [innerHTML]='category.name'></span>
        <span class='ml-2.5'>({{category.generateTypeCount}})</span>
      </div>
    </div>
    <div class='cards flex flex-wrap items-center justify-around pt-0 px-7 pb-7 mt-5 overflow-auto'>
      <div *ngFor='let item of data'
           class='{{ item.id === selectTypeOption.type.id ? "active" : "" }} card bg-white rounded-md cursor-pointer relative mt-5 p-5 h-28'
           (click)='typeOnClick(item)'>
        <p class='font-medium' [innerHTML]='item.code'></p>
        <p class='text-justify' [innerHTML]='item.description | truncate:80'></p>
      </div>
    </div>
    <div
      class='btn-cancel rounded-md flex items-center cursor-pointer absolute justify-center bottom-5 right-5 py-1 px-4'
      (click)='this.exitEventEmitter.emit()'>
      <span class='font-medium'>Cancel</span>
      <img class='icon ml-2.5' src='../../../../assets/icon/general/cancel.png' alt='cancel'/>
    </div>
  </div>
</div>
