<div id='main' class='dialog text-sm' xmlns='http://www.w3.org/1999/html'>
  <div class='board' style='width: 1000px; height: 800px;'>
    <div class='flex justify-between'>
      <p class='font-bold'>PREVIEW</p>
      <div class='flex'>
        <p class='w-3 h-3 rounded-full bg-red'></p>
        <p class='w-3 h-3 ml-3 rounded-full bg-yellow'></p>
        <p class='w-3 h-3 ml-3 rounded-full bg-green'></p>
      </div>
    </div>
    <hr class='mt-5' />
    <div class='flex'>
      <p
        class='w-1/2 text-center h-10 leading-10 {{ tab==="TABLE" ? "bg-yellow text-white" : "" }} font-medium text-sm uppercase cursor-pointer'
        (click)='tab="TABLE"'>TABLE</p>
      <p
        class='w-1/2 text-center h-10 leading-10 {{ tab==="FORMAT" ? "bg-yellow text-white" : "" }} font-medium text-sm uppercase cursor-pointer'
        (click)='tab="FORMAT"'>FORMAT</p>
    </div>
    <hr />
    <div class='px-5 overflow-scroll w-full relative h-5/6'>
      <table *ngIf='tab==="TABLE"' class='w-full'>
        <tr class='sticky top-0 bg-white disabled'>
          <th *ngFor='let item of options.data[0] | keyvalue' class='font-medium text-left'>{{item.key}}</th>
        </tr>
        <tr *ngFor='let record of options.data'>
          <td *ngFor='let item of record | keyvalue'>{{item.value}}</td>
        </tr>
      </table>
      <div *ngIf='tab==="FORMAT"'>
        <ng-container [ngSwitch]='options.format'>
          <pre *ngSwitchCase='"JSON"'>{{ (options.data ? options.data : '') | json }}</pre>
          <pre *ngSwitchCase='"XML"'>{{ (options.data ? options.data : []) | xml: options.tableName! }}</pre>
          <pre *ngSwitchCase='"SQL"'>{{ (options.data ? options.data : []) | sql: options.tableName! }}</pre>
          <pre *ngSwitchCase='"CSV"'>{{ (options.data ? options.data : []) | csv }}</pre>
        </ng-container>
      </div>
    </div>
    <button (click)='close(false)' type='button'
            class='absolute bottom-5 right-5 bg-gray text-sm text-black rounded font-medium px-5 h-10 py-2 mr-3'>
      Cancel
    </button>
  </div>
</div>
