<div id='main' class='flex w-screen h-screen'>
  <div id='navigation' class='z-10 bg-white w-80 drop-shadow-xl'>
    <app-navigation></app-navigation>
  </div>
  <div id='content' class='bg-gray p-4 overflow-y-auto'>
    <router-outlet></router-outlet>
  </div>
</div>
<div *ngIf='appConfigProviderService.isLoading' class='loading'>
  <div class='lds-roller p-0 bg-transparent'>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
