<div [class]='mocClass' id='main'>
  <div class='tw-flex tw-justify-between'>
    <moc-button (click)='createAction.click()' selfClass='btn-primary tw-uppercase'
                [label]='createAction.content'></moc-button>
    <moc-input mocClass='tw-w-96' [mocPlaceholder]='searchPlaceholder' [mocControl]='formGroup.controls.search'></moc-input>
  </div>
  <table class='tw-w-full tw-mt-5 tw-text-left'>
    <tr class='tw-bg-gray' (mouseleave)='columnActive=""'>
      <th class='tw-p-4 tw-uppercase first-letter:tw-underline' (mouseenter)='columnActive="no"'>
        {{ 'component.grid.no' | translate }}
      </th>
      <th *ngFor='let column of mocGrid?.columns'
          [colSpan]='column.colSpan || 1'
          [innerHTML]='column.label'
          class='tw-p-4 tw-uppercase first-letter:tw-underline'
          (mouseenter)='columnActive=column.key'
      ></th>
    </tr>
    <tr>
      <td [colSpan]='colSpan'>
        <hr/>
      </td>
    </tr>
    <ng-container *ngFor='let pageValue of pageValues'>
      <tr class='hover:tw-bg-gray'>
        <td class='tw-p-4 {{ columnActive==="no" ? "tw-bg-gray" : undefined }}'>
          {{ pageValue.position + 1 + '.' }}
        </td>
        <td (click)='getAction(pageValue.gridValue[column.key])()'
            *ngFor='let column of mocGrid.columns'
            [colSpan]='column.colSpan || 1'
            [innerHTML]='getInnerHTML(pageValue.gridValue[column.key])'
            class='tw-p-4  {{ columnActive===column.key ? "tw-bg-gray" : undefined }}'
        ></td>
      </tr>
      <tr>
        <td [colSpan]='colSpan'>
          <hr/>
        </td>
      </tr>
    </ng-container>
    <ng-container *ngIf='!pageValues?.length'>
      <tr>
        <td [colSpan]='colSpan' class='tw-text-center tw-py-4'>
          {{ (formGroup.controls.search.value && mocGrid.values.length ? 'component.grid.values_no_match' : 'component.grid.values_empty') | translate }}
        </td>
      </tr>
    </ng-container>
  </table>
  <div class='tw-flex tw-justify-end tw-mt-5 pagination'>
    <span (click)='pageNumberChange(1)'
      [class]='(totalPageNumber.length === 1 || currentPageNumber === 1) ? "disable" : "enable"'>{{ '<<' }}</span>
    <span (click)='pageNumberChange("previous")'
      [class]='(totalPageNumber.length === 1 || currentPageNumber === 1) ? "disable" : "enable"'>{{ '<' }}</span>
    <span *ngFor='let item of totalPageNumber'
          (click)='pageNumberChange(item)'
      class='{{ currentPageNumber === item ? "active" : undefined }} enable'>{{ item }}</span>
    <span (click)='pageNumberChange("next")'
      [class]='(totalPageNumber.length === 1 || currentPageNumber === totalPageNumber.length) ? "disable" : "enable"'>{{ '>' }}</span>
    <span (click)='pageNumberChange(totalPageNumber.length)'
      [class]='(totalPageNumber.length === 1 || currentPageNumber === totalPageNumber.length) ? "disable" : "enable"'>{{ '>>' }}</span>
  </div>
</div>
