<app-navigation></app-navigation>
<div id='main' class='w-screen h-screen center-box'>
  <div class='text-center w-96'>
    <p class='text-9xl font-bold tracking-wide'>{{ 'component.not_found.oops' | translate }}</p>
    <p class='text-xl mt-4 font-bold'>{{ 'component.not_found.title' | translate }}</p>
    <p class='mt-4 text-sm'>{{ 'component.not_found.description' | translate }}</p>
    <moc-button (click)='goToHomepage()' [label]='"component.not_found.go_to_homepage" | translate'></moc-button>
  </div>
</div>
