<div id='main' popup [modal]='this'>
  <div class='text-sm p-5'>
    <p class='font-medium text-lg'>{{ 'modal.preview.title' | translate }}</p>
    <moc-tab [tabs]='tabs' selfClass='text-center'>
      <ng-template #table>
        <div class='overflow-auto h-150 mt-5'>
          <table *ngIf='options.data.length' class='w-full'>
            <thead>
            <tr class='sticky top-0'>
              <th class='text-left py-2 px-3 bg-white' *ngFor='let key of keys'>{{ key.toUpperCase() }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let element of options.data'>
              <td class='py-2 px-3' *ngFor='let key of keys'>{{ element[key] }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
      <ng-template #raw>
        <ng-container [ngSwitch]='options.format'>
          <pre class='h-150 mt-5 overflow-scroll'
               *ngSwitchCase='"JSON"'>{{ options.data | mocJson: options.tableName! }}</pre>
          <pre class='h-150 mt-5 overflow-scroll'
               *ngSwitchCase='"SQL"'>{{ options.data | sql: options.tableName! }}</pre>
          <pre class='h-150 mt-5 overflow-scroll'
               *ngSwitchCase='"XML"'>{{ options.data | xml: options.tableName! }}</pre>
          <pre class='h-150 mt-5 overflow-scroll' *ngSwitchCase='"CSV"'>{{ options.data | csv }}</pre>
        </ng-container>
      </ng-template>
    </moc-tab>
    <div class='flex justify-between mt-5'>
      <p>{{ 'modal.preview.show_first_100_rows' | translate }}</p>
      <div class='flex pr-5'>
        <moc-button (click)='options.download()' selfClass='px-5 btn-primary'
                    label='modal.preview.download_data'></moc-button>
        <moc-button (click)='close()' selfClass='ml-5 px-5 btn-light' label='modal.preview.close'></moc-button>
      </div>
    </div>
  </div>
</div>
