<div [modal]='this' id='main' popup>
  <div class='tw-w-300 tw-h-200 tw-text-sm tw-p-5'>
    <p class='tw-font-medium tw-text-lg'>{{ 'modal.preview.title' | translate }}</p>
    <moc-tab1 [tabs]='tabs' selfClass='tw-text-center'>
      <ng-template #table>
        <div class='tw-overflow-auto tw-h-150 tw-mt-5'>
          <table *ngIf='options.data.length' class='tw-w-full'>
            <thead>
            <tr class='tw-sticky tw-top-0'>
              <th *ngFor='let key of keys' class='tw-text-left tw-py-2 tw-px-3 tw-bg-white'>{{ key.toUpperCase() }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let element of options.data'>
              <td *ngFor='let key of keys' class='tw-py-2 tw-px-3'>{{ element[key] }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
      <ng-template #raw>
        <ng-container [ngSwitch]='options.format'>
          <pre *ngSwitchCase='"JSON"'
               class='tw-h-150 tw-mt-5 tw-overflow-scroll'>{{ options.data | mocJson: options.tableName! }}</pre>
          <pre *ngSwitchCase='"SQL"'
               class='tw-h-150 tw-mt-5 tw-overflow-scroll'>{{ options.data | sql: options.tableName! }}</pre>
          <pre *ngSwitchCase='"XML"'
               class='tw-h-150 tw-mt-5 tw-overflow-scroll'>{{ options.data | xml: options.tableName! }}</pre>
          <pre *ngSwitchCase='"CSV"' class='tw-h-150 tw-mt-5 tw-overflow-scroll'>{{ options.data | csv }}</pre>
        </ng-container>
      </ng-template>
    </moc-tab1>
    <div class='tw-flex tw-justify-between tw-mt-5'>
      <p>{{ 'modal.preview.show_first_100_rows' | translate }}</p>
      <div class='tw-flex tw-pr-5'>
        <moc-button (click)='options.download()' label='modal.preview.download_data'
                    selfClass='tw-px-5 btn-primary'></moc-button>
        <moc-button (click)='close()' label='modal.preview.close' selfClass='tw-ml-5 tw-px-5 btn-light'></moc-button>
      </div>
    </div>
  </div>
</div>
