<div id='main' class='view-port-width-standard mx-auto text-sm'>
  <moc-description class='mt-5' [description]='"component.general.introduction" | translate'></moc-description>
  <moc-table-detail [table]='formGroup.controls.table' class='mt-16'></moc-table-detail>
  <hr class='mt-5'/>
  <div class='flex items-center mt-5' [formGroup]='formGroup'>
    <span class='mr-5'>{{ 'component.general.row' | translate }}</span>
    <moc-field class='w-32' selfClass='text-right px-5'
               [control]='formGroup.controls.rows'></moc-field>
    <span class='mx-5'>{{ 'component.general.format' | translate }}</span>
    <moc-action [self]='self' [actions]='supportedFormat'>
      <ng-template #self>
        <moc-button class='w-32' icon='fa-solid fa-arrow-up-arrow-down' selfClass='text-left btn-light'
                    [label]='formGroup.controls.format.value'></moc-button>
      </ng-template>
    </moc-action>
  </div>
  <hr class='mt-5'/>
  <div class='mt-5 flex'>
    <moc-button (click)='download()' class='w-52' label='component.general.download_data' selfClass='btn-primary'></moc-button>
    <moc-button class='w-52 ml-3' label='component.general.preview'
                selfClass='px-5 btn-light'></moc-button>
    <moc-button class='w-52 ml-3' label='component.general.save_this_table'
                selfClass='px-5 btn-light'></moc-button>
    <moc-button class='w-52 ml-3' label='component.general.more'
                selfClass='px-5 btn-light'
                icon='fa-solid fa-arrow-up-arrow-down'></moc-button>
  </div>
</div>
