<div [dialog]='true' [modal]='this' class='!tw-z-50' id='main' popup>
  <div class='tw-w-150 tw-pt-10 tw-px-5 tw-pb-5 tw-overflow-hidden'>
    <div class='tw-absolute tw-top-0 tw-left-0 tw-bg-{{ color }} tw-w-2 tw-h-full'></div>
    <div class='tw-pl-2'>
      <p class='tw-font-bold'>{{ options.title! | translate }}</p>
      <p *ngIf='options.body' class='tw-text-sm tw-mt-2'>{{ options.body | translate }}</p>
      <p *ngIf='!options.body' [innerHTML]='options.detail' class='tw-text-sm tw-mt-2 tw-overflow-auto'></p>
    </div>
    <div class='tw-flex tw-flex-row-reverse tw-mt-5'>
      <div class='tw-flex tw-text-sm tw-justify-end'>
        <moc-button (click)='close(false)'
                    *ngIf='isShowBtnCancel'
                    label='modal.dialog.cancel'
                    mocStyle='btn-secondary'>
        </moc-button>
        <moc-button (click)='close(true)'
                    *ngIf='isShowBtnOK'
                    mocClass='tw-ml-1'
                    label='modal.dialog.ok'
                    mocStyle='btn-primary tw-bg-{{ color }}'>
        </moc-button>
      </div>
    </div>
  </div>
</div>
