<div id='main' class='w-screen h-screen center-box'>
  <div class='bg-white rounded drop-shadow-2xl text-sm text-center p-10'>
    <img src='assets/png/logo.png' alt='logo' class='w-44 mx-auto'/>
    <p class='font-bold mt-5 text-primary-bold'>{{ 'component.login.title' | translate }}</p>
    <app-field ngDefaultControl [placeholder]='"component.login.username_placeholder" | translate' type='email'
               [formControl]='formControls.username'></app-field>
    <app-field ngDefaultControl [placeholder]='"component.login.password_placeholder" | translate' type='password'
               [formControl]='formControls.password'></app-field>
    <button class='bg-blue p-2.5 rounded mt-4 font-medium text-white w-full'
            (click)='submit()'>{{ 'component.login.continue' | translate }}</button>
    <p class='mt-4 text-gray-400'>{{ 'component.login.or' | translate }}</p>
    <button *ngFor='let loginMethod of loginMethods'
            class='border font-medium mt-4 p-2.5 rounded w-full shadow relative hover:shadow-xl'>
      <img src='assets/png/login/{{ loginMethod.icon }}.png' [alt]='loginMethod.icon' class='icon absolute'/>
      {{ 'component.login.continue_with_SPACE' | translate }} {{ loginMethod.name }}
    </button>
    <hr class='mt-8'/>
    <p class='mt-4 text-blue'>
      <a href='#' class='hover:underline'>{{ 'component.login.cannot_login' | translate }}</a>
      &nbsp;&#8226;&nbsp;
      <a href='#' class='hover:underline'>{{ 'component.login.sign_up' | translate }}</a></p>
  </div>
</div>
