<div #element (click)='click()'
     [style.bottom]='bottom + "px"'
     [style.display]='visible'
     [style.opacity]='opacity'
     [style.z-index]='zIndex'
     class='tw-fixed tw-left-10 tw-text-sm tw-bg-white tw-rounded tw-shadow-2xl tw-w-96 tw-min-h-26 tw-max-h-40 {{ this.options && this.options.click ? "tw-cursor-pointer" : "" }}'
     id='main'>
  <div class='tw-p-5 tw-flex tw-justify-between tw-overflow-hidden'>
    <div class='tw-w-1/12 tw-text-center'>
      <i class='tw-text-lg {{ style.icon }}'></i>
    </div>
    <div class='tw-w-9/12'>
      <p class='tw-font-medium'>{{ options ? options.title : undefined }}</p>
      <p *ngIf='options.body'
         class='tw-mt-2'>{{ (options ? (options.body | translate) : undefined) | truncate: 130 }}</p>
      <p *ngIf='!options.body' class='tw-mt-2' [innerHTML]='options.detail'></p>
    </div>
    <div class='tw-w-1/12 tw-text-center'>
      <i (click)='toastrClose()' class='tw-cursor-pointer fa-solid fa-xmark'></i>
    </div>
  </div>
  <div class='tw-absolute tw-bottom-2 tw-w-full tw-h-1.5 tw-px-10'>
    <p class='tw-rounded-full {{ style.bgColor }} tw-h-full' [style.width]='width + "%"'></p>
  </div>
</div>
