<div id='main' #element
     class='fixed left-10 text-sm bg-white rounded shadow-2xl w-96 min-h-26 max-h-40 {{ this.options && this.options.click ? "cursor-pointer" : "" }}'
     [style.bottom]='bottom + "px"'
     [style.z-index]='zIndex'
     [style.opacity]='opacity'
     [style.display]='visible'
     (click)='click()'>
  <div class='p-5 flex justify-between overflow-hidden'>
    <div class='w-1/12 text-center'>
      <i class='text-lg {{ style.icon }}'></i>
    </div>
    <div class='w-9/12'>
      <p class='font-medium'>{{ options ? options.title : undefined }}</p>
      <p *ngIf='options.body' class='mt-2 text-justify'>{{ (options ? (options.body | translate) : undefined) | truncate: 130 }}</p>
      <p *ngIf='!options.body' class='mt-2 text-justify' [innerHTML]='options.detail'></p>
    </div>
    <div class='w-1/12 text-center'>
      <i (click)='toastrClose()' class='cursor-pointer fa-solid fa-xmark'></i>
    </div>
  </div>
  <div class='process absolute bottom-2 w-full h-1.5 px-10'>
    <p class='rounded-full {{ style.bgColor }} h-full' [style.width]='width + "%"'></p>
  </div>
</div>
