<div class='tw-w-300 tw-mx-auto tw-text-sm' id='main'>
  <p class='tw-text-3xl tw-font-medium tw-mt-5'>{{ 'component.person.my_account' | translate }}</p>
  <div class='tw-mt-5 tw-flex tw-justify-between'>
    <div class='tw-p-5 tw-w-49/100 tw-border tw-rounded'>
      <moc-input [mocRequired]='true' [readonly]='true' mocLabel='component.person.my_email'
                 [mocControl]='formGroup.controls.username' mocClass='tw-mt-5' type='email'></moc-input>
    </div>
    <div class='tw-p-5 tw-w-49/100 tw-border tw-rounded'>
      <p class='tw-font-medium'>{{ 'component.person.my_password' | translate }}</p>
      <moc-button (click)='changePassword()' mocClass='tw-mt-3' label='component.person.change_password'
                  mocStyle='tw-w-52 btn-primary'></moc-button>
    </div>
  </div>
  <div class='tw-mt-5 tw-p-5 tw-border tw-rounded'>
    <p class='tw-font-medium'>{{ 'component.person.my_information' | translate }}</p>
    <moc-input [mocRequired]='true' [mocControl]='formGroup.controls.name' mocLabel='component.person.name'
               mocClass='tw-mt-5'></moc-input>
    <moc-input [mocControl]='formGroup.controls.bio' mocLabel='component.person.bio'
               mocClass='tw-mt-5'></moc-input>
    <moc-input [mocControl]='formGroup.controls.phone' mocLabel='component.person.phone'
               mocClass='tw-mt-5'></moc-input>
    <moc-button (click)='submit()' mocClass='tw-mt-3 tw-text-right'
                label='component.person.save'
                mocStyle='tw-w-28 btn-primary'></moc-button>
  </div>
</div>
