<div id='main' class='mx-auto bg-white h-full'>
  <div class='pt-10 text-center'>
    <input class='text-sm w-1/2 py-2 px-5 shadow focus:drop-shadow-xl rounded-md' [formControl]='filter' type='text'
           placeholder='{{ "label.search_placeholder" | translate }}' />
  </div>
  <p *ngIf='filter.value && !this.users?.length && this.storage?.length'
     class='mt-3 text-sm text-center'>{{ "person.no_match" | translate }}</p>
  <p *ngIf='!this.storage?.length' class='mt-3 text-sm text-center'>{{ 'person.empty' | translate }}</p>
  <div class='cards flex mt-5 flex-wrap'>
    <div *ngFor='let user of users'
         class='card shadow relative m-4 flex items-center hover:drop-shadow-xl bg-white py-5 pl-10 pr-5 rounded-md w-96 h-32'>
      <div class='absolute left-4 rounded-md w-1 h-28 bg-green'></div>
      <div class='w-1/4'>
        <img class='w-20' src='assets/profile.png' alt='profile' />
      </div>
      <div class='info ml-5 w-1/2'>
        <a class='font-medium hover:underline' [routerLink]='"/person/" + user.id'>{{ user.name | truncate: 20 }}</a>
        <p class='text-sm text-gray-500'>{{ user.bio | truncate: 20 }}</p>
        <p class='text-sm text-gray-500'>{{ ('person.card.phone' | translate) + ': +' + user.phone }}</p>
      </div>
      <div class='absolute top-4 right-5 flex'>
        <p class='w-3 h-3 rounded-full bg-red'></p>
        <p class='w-3 h-3 ml-3 rounded-full bg-yellow'></p>
        <p class='w-3 h-3 ml-3 rounded-full bg-green'></p>
      </div>
    </div>
  </div>
</div>
