<div class='tw-flex tw-text-sm tw-h-[calc(100vh_-_57px)]' id='main'>
  <div class='tw-w-96 tw-h-full tw-border tw-border-t-0 tw-p-5'>
    <p class='tw-text-3xl tw-font-medium'>{{ 'component.schema.schema' | translate }}</p>
    <div>
      <moc-input [control]='formGroup.controls.name' label='component.schema.name'></moc-input>
      <moc-input [control]='formGroup.controls.description' [textArea]='true' label='component.schema.description'
                 selfClass='tw-h-32 tw-overflow-auto'></moc-input>
      <div class='tw-mt-3 tw-flex tw-justify-between tw-items-center'>
        <moc-button (click)='submit()' class='tw-w-49/100 tw-inline' icon='fa-solid fa-floppy-disk'
                    label='component.schema.save'
                    selfClass='btn-primary tw-text-left'></moc-button>
        <moc-button (click)='delete()' class='tw-w-49/100 tw-inline' icon='fa-solid fa-trash'
                    label='component.schema.delete'
                    selfClass='btn-red tw-text-left'></moc-button>
      </div>
    </div>
    <div>
      <p class='tw-font-medium tw-mt-5'>{{ 'component.schema.project_information' | translate }}</p>
      <a class='tw-uppercase tw-font-medium tw-mt-3 tw-inline-block tw-underline hover:tw-text-blue tw-cursor-pointer'
         routerLink='/project/{{ schema ? schema.project.id : undefined }}'>{{ schema ? schema.project.name : undefined }}</a>
      <p class='tw-mt-3'>{{ schema ? schema.project.description : undefined }}</p>
    </div>
  </div>
  <div class='tw-p-5 tw-w-[calc(100%_-_384px)]'>
    <div class='tw-flex tw-justify-between tw-w-150'>
      <moc-button (click)='createTable()' class='tw-w-44 tw-inline-block' icon='fa-solid fa-folder-plus'
                  label='component.schema.create_table' selfClass='btn-primary tw-text-left'></moc-button>
      <moc-button (click)='createTable()' class='tw-w-44 tw-inline-block' icon='fa-solid fa-download'
                  label='component.schema.download' selfClass='btn-primary tw-text-left'></moc-button>
      <moc-button (click)='createTable()' class='tw-w-44 tw-inline-block' icon='fa-solid fa-display-code'
                  label='component.schema.preview' selfClass='btn-light tw-text-left'></moc-button>
    </div>
    <moc-diagram class='tw-w-full tw-h-[calc(100%_-_42px)] tw-mt-3' [schema]='schema'></moc-diagram>
  </div>
</div>
