<nav>
  <div class='left'>
    <div class='logo'>
      <img class='icon' src='../../../../../../assets/icon/navigation/panda.png' alt='logo'/>
      <span>MOCKEZ</span>
    </div>
    <div class='search'>
      <img src='../../../../../../assets/icon/navigation/search.png' alt='search'/>
      <input type='text' placeholder='Search Mockez'/>
    </div>
  </div>
  <div class='center'>
    <a href='#'>GENERAL</a>
    <a href='#'>DATASET</a>
    <a href='#' class='active'>MOCK API</a>
    <a href='#'>SCHEMA</a>
    <a href='#'>PROJECT</a>
  </div>
  <div class='right'>
    <img class='icon' src='../../../../../../assets/icon/navigation/sun.png' alt='sun'/>
    <img class='icon' src='../../../../../../assets/icon/navigation/notification.png' alt='notification'/>
    <img class='icon' src='../../../../../../assets/icon/navigation/facebook_messenger.png' alt='facebook messenger'/>
    <img class='icon' src='../../../../../../assets/icon/navigation/user.png' alt='user'/>
  </div>
</nav>
