nav {
  height: 54px;
  justify-content: space-between;
  padding: 0 30px;
  font-size: 15px;

  > div {
    height: 100%;
  }

  .left,
  .right {
    width: 350px;
  }

  .icon {
    width: 30px;
  }

  .left {
    .logo {
      span {
        margin-left: 20px;
      }

      img {
        height: 30.6px;
      }
    }

    .search {
      margin-left: 20px;
      background-color: #F0F2F5;
      padding: 10px;
      width: 200px;
      height: 40px;

      img {
        width: 20px;
        height: 20px;
      }

      input {
        width: 200px;
        margin-left: 10px;
        background-color: #F0F2F5;
      }
    }
  }

  .center {
    margin: 0 30px;

    a {
      width: 100px;
      line-height: 54px;
      text-decoration: none;
      text-align: center;
      color: #000;
    }

    a:hover {
      background-color: #e8f1ff;
    }

    .active {
      position: relative;
    }

    .active:after {
      content: '';
      display: block;
      position: absolute;
      width: 100px;
      height: 4px;
      bottom: 0;
      background-color: #3DA2FF;
    }
  }

  .right {
    justify-content: flex-end;

    img {
      margin-left: 30px;
    }
  }
}
