<div [class]='mocClass' id='main'>
  <p class='tw-mt-8 tw-text-justify tw-text-blue tw-text-2xl'>{{ 'What is Mocker?' }}</p>
  <p
    class='tw-mt-5 tw-text-justify'>{{ 'Mocker is a website that helps you generate basic data for testing your website. When you have data from Mocker you can put them in your database so that you can check your website when there is data, it works stably or not. In addition, Mocker also helps you and your co-workers form groups to share data together. Currently Mocker only supports basic data and simple relationships. In the future we will try to develop to serve more of your needs.' }}</p>

  <p class='tw-mt-8 tw-text-justify tw-text-blue tw-text-2xl'>{{ 'How to download data in Mocker?' }}</p>
  <p
    class='tw-mt-5 tw-text-justify'>{{ 'If you only want to download one table, you can quickly create one above. Give it a name, choose the type of generation you want and then configure each field according to your needs. Once the columns are configured, you will configure the table by naming them, choosing the number of rows you want to generate and the data format you want to export. Currently we support 4 formats which are SQL, JSON, XML and CSV. You can then preview the data by clicking the Preview button and clicking the Download button to download it' }}</p>
</div>
