<div id='popup'>
  <div class='form back-color-white b-radius-10'>
    <div class='categories d-flex al-items-center'>
      <div class='category b-radius-10 b-shadow-light c-pointer d-flex al-items-center'>
        <span class='title'>All</span>
        <span class='number'>(20)</span>
      </div>
      <div class='category b-radius-10 b-shadow-light c-pointer d-flex al-items-center'>
        <span class='title'>Car</span>
        <span class='number'>(10)</span>
      </div>
      <div class='category active b-radius-10 b-shadow-light c-pointer d-flex al-items-center'>
        <span class='title'>Singer</span>
        <span class='number'>(30)</span>
      </div>
      <div class='category b-radius-10 b-shadow-light c-pointer d-flex al-items-center'>
        <span class='title'>Song</span>
        <span class='number'>(9)</span>
      </div>
      <div class='category b-radius-10 b-shadow-light c-pointer d-flex al-items-center'>
        <span class='title'>Car</span>
        <span class='number'>(10)</span>
      </div>
      <div class='category b-radius-10 b-shadow-light c-pointer d-flex al-items-center'>
        <span class='title'>Singer</span>
        <span class='number'>(30)</span>
      </div>
      <div class='category b-radius-10 b-shadow-light c-pointer d-flex al-items-center'>
        <span class='title'>Song</span>
        <span class='number'>(9)</span>
      </div>
      <div class='category b-radius-10 b-shadow-light c-pointer d-flex al-items-center'>
        <span class='title'>Car</span>
        <span class='number'>(10)</span>
      </div>
      <div class='category b-radius-10 b-shadow-light c-pointer d-flex al-items-center'>
        <span class='title'>Singer</span>
        <span class='number'>(30)</span>
      </div>
      <div class='category b-radius-10 b-shadow-light c-pointer d-flex al-items-center'>
        <span class='title'>Song</span>
        <span class='number'>(9)</span>
      </div>
      <div class='category b-radius-10 b-shadow-light c-pointer d-flex al-items-center'>...</div>
    </div>
    <div class='cards d-flex'>
      <div class='card b-shadow-light b-radius-10 c-pointer'>
        <p class='title f-weight-bold'>Character Sequence</p>
        <p class='description'>Create simple sequences of characters, digits, and symbols</p>
        <div class='preview back-color-white b-shadow-light b-radius-10'>
          <p class='heading f-weight-bold'>Character Sequence</p>
          <p class='description'>Create simple sequences of characters, digits, and symbols</p>
          <ul class='body'>
            <li>Garden</li>
            <li>Games</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Computers</li>
            <li>Jewelry</li>
            <li>Beauty</li>
            <li>Home</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Jewelry</li>
            <li>Tools</li>
            <li>Automotive</li>
            <span>...</span>
          </ul>
        </div>
      </div>
      <div class='card b-shadow-light b-radius-10 c-pointer'>
        <p class='title f-weight-bold'>Character Sequence</p>
        <p class='description'>Create simple sequences of characters, digits, and symbols</p>
        <div class='preview back-color-white b-shadow-light b-radius-10'>
          <p class='heading f-weight-bold'>Character Sequence</p>
          <p class='description'>Create simple sequences of characters, digits, and symbols</p>
          <ul class='body'>
            <li>Garden</li>
            <li>Games</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Computers</li>
            <li>Jewelry</li>
            <li>Beauty</li>
            <li>Home</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Jewelry</li>
            <li>Tools</li>
            <li>Automotive</li>
            <span>...</span>
          </ul>
        </div>
      </div>
      <div class='card b-shadow-light b-radius-10 c-pointer'>
        <p class='title f-weight-bold'>Character Sequence</p>
        <p class='description'>Create simple sequences of characters, digits, and symbols</p>
        <div class='preview back-color-white b-shadow-light b-radius-10'>
          <p class='heading f-weight-bold'>Character Sequence</p>
          <p class='description'>Create simple sequences of characters, digits, and symbols</p>
          <ul class='body'>
            <li>Garden</li>
            <li>Games</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Computers</li>
            <li>Jewelry</li>
            <li>Beauty</li>
            <li>Home</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Jewelry</li>
            <li>Tools</li>
            <li>Automotive</li>
            <span>...</span>
          </ul>
        </div>
      </div>
      <div class='card b-shadow-light b-radius-10 c-pointer'>
        <p class='title f-weight-bold'>Character Sequence</p>
        <p class='description'>Create simple sequences of characters, digits, and symbols</p>
        <div class='preview back-color-white b-shadow-light b-radius-10'>
          <p class='heading f-weight-bold'>Character Sequence</p>
          <p class='description'>Create simple sequences of characters, digits, and symbols</p>
          <ul class='body'>
            <li>Garden</li>
            <li>Games</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Computers</li>
            <li>Jewelry</li>
            <li>Beauty</li>
            <li>Home</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Jewelry</li>
            <li>Tools</li>
            <li>Automotive</li>
            <span>...</span>
          </ul>
        </div>
      </div>
      <div class='card b-shadow-light b-radius-10 c-pointer'>
        <p class='title f-weight-bold'>Character Sequence</p>
        <p class='description'>Create simple sequences of characters, digits, and symbols</p>
        <div class='preview back-color-white b-shadow-light b-radius-10'>
          <p class='heading f-weight-bold'>Character Sequence</p>
          <p class='description'>Create simple sequences of characters, digits, and symbols</p>
          <ul class='body'>
            <li>Garden</li>
            <li>Games</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Computers</li>
            <li>Jewelry</li>
            <li>Beauty</li>
            <li>Home</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Jewelry</li>
            <li>Tools</li>
            <li>Automotive</li>
            <span>...</span>
          </ul>
        </div>
      </div>
      <div class='card b-shadow-light b-radius-10 c-pointer'>
        <p class='title f-weight-bold'>Character Sequence</p>
        <p class='description'>Create simple sequences of characters, digits, and symbols</p>
        <div class='preview back-color-white b-shadow-light b-radius-10'>
          <p class='heading f-weight-bold'>Character Sequence</p>
          <p class='description'>Create simple sequences of characters, digits, and symbols</p>
          <ul class='body'>
            <li>Garden</li>
            <li>Games</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Computers</li>
            <li>Jewelry</li>
            <li>Beauty</li>
            <li>Home</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Jewelry</li>
            <li>Tools</li>
            <li>Automotive</li>
            <span>...</span>
          </ul>
        </div>
      </div>
      <div class='card b-shadow-light b-radius-10 c-pointer'>
        <p class='title f-weight-bold'>Character Sequence</p>
        <p class='description'>Create simple sequences of characters, digits, and symbols</p>
        <div class='preview back-color-white b-shadow-light b-radius-10'>
          <p class='heading f-weight-bold'>Character Sequence</p>
          <p class='description'>Create simple sequences of characters, digits, and symbols</p>
          <ul class='body'>
            <li>Garden</li>
            <li>Games</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Computers</li>
            <li>Jewelry</li>
            <li>Beauty</li>
            <li>Home</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Jewelry</li>
            <li>Tools</li>
            <li>Automotive</li>
            <span>...</span>
          </ul>
        </div>
      </div>
      <div class='card b-shadow-light b-radius-10 c-pointer'>
        <p class='title f-weight-bold'>Character Sequence</p>
        <p class='description'>Create simple sequences of characters, digits, and symbols</p>
        <div class='preview back-color-white b-shadow-light b-radius-10'>
          <p class='heading f-weight-bold'>Character Sequence</p>
          <p class='description'>Create simple sequences of characters, digits, and symbols</p>
          <ul class='body'>
            <li>Garden</li>
            <li>Games</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Computers</li>
            <li>Jewelry</li>
            <li>Beauty</li>
            <li>Home</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Jewelry</li>
            <li>Tools</li>
            <li>Automotive</li>
            <span>...</span>
          </ul>
        </div>
      </div>
      <div class='card b-shadow-light b-radius-10 c-pointer'>
        <p class='title f-weight-bold'>Character Sequence</p>
        <p class='description'>Create simple sequences of characters, digits, and symbols</p>
        <div class='preview back-color-white b-shadow-light b-radius-10'>
          <p class='heading f-weight-bold'>Character Sequence</p>
          <p class='description'>Create simple sequences of characters, digits, and symbols</p>
          <ul class='body'>
            <li>Garden</li>
            <li>Games</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Computers</li>
            <li>Jewelry</li>
            <li>Beauty</li>
            <li>Home</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Jewelry</li>
            <li>Tools</li>
            <li>Automotive</li>
            <span>...</span>
          </ul>
        </div>
      </div>
      <div class='card b-shadow-light b-radius-10 c-pointer'>
        <p class='title f-weight-bold'>Character Sequence</p>
        <p class='description'>Create simple sequences of characters, digits, and symbols</p>
        <div class='preview back-color-white b-shadow-light b-radius-10'>
          <p class='heading f-weight-bold'>Character Sequence</p>
          <p class='description'>Create simple sequences of characters, digits, and symbols</p>
          <ul class='body'>
            <li>Garden</li>
            <li>Games</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Computers</li>
            <li>Jewelry</li>
            <li>Beauty</li>
            <li>Home</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Jewelry</li>
            <li>Tools</li>
            <li>Automotive</li>
            <span>...</span>
          </ul>
        </div>
      </div>
      <div class='card b-shadow-light b-radius-10 c-pointer'>
        <p class='title f-weight-bold'>Character Sequence</p>
        <p class='description'>Create simple sequences of characters, digits, and symbols</p>
        <div class='preview back-color-white b-shadow-light b-radius-10'>
          <p class='heading f-weight-bold'>Character Sequence</p>
          <p class='description'>Create simple sequences of characters, digits, and symbols</p>
          <ul class='body'>
            <li>Garden</li>
            <li>Games</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Computers</li>
            <li>Jewelry</li>
            <li>Beauty</li>
            <li>Home</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Jewelry</li>
            <li>Tools</li>
            <li>Automotive</li>
            <span>...</span>
          </ul>
        </div>
      </div>
      <div class='card b-shadow-light b-radius-10 c-pointer'>
        <p class='title f-weight-bold'>Character Sequence</p>
        <p class='description'>Create simple sequences of characters, digits, and symbols</p>
        <div class='preview back-color-white b-shadow-light b-radius-10'>
          <p class='heading f-weight-bold'>Character Sequence</p>
          <p class='description'>Create simple sequences of characters, digits, and symbols</p>
          <ul class='body'>
            <li>Garden</li>
            <li>Games</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Computers</li>
            <li>Jewelry</li>
            <li>Beauty</li>
            <li>Home</li>
            <li>Electronics</li>
            <li>Baby</li>
            <li>Jewelry</li>
            <li>Tools</li>
            <li>Automotive</li>
            <span>...</span>
          </ul>
        </div>
      </div>
    </div>
    <div class='btn-cancel b-radius-10 b-shadow-light d-flex al-items-center c-pointer'>
      <span class='f-weight-bold'>Cancel</span>
      <img src='assets/icon/general/cancel.png' alt='cancel'/>
    </div>
  </div>
</div>
