<div id='main' dialog [modal]='this'>
  <div class='p-3 text-sm'>
    <div class='flex justify-between items-center'>
      <p class='font-medium'>{{ 'modal.choose_type.title' | translate }}</p>
      <moc-field class='w-60' [placeholder]='"modal.choose_type.find_placeholder" | translate'
                 [control]='formControl'
                 selfClass='p-2'></moc-field>
    </div>
    <div *ngIf='options?.isGenerateType' class='flex mt-3 overflow-x-scroll'>
      <moc-button class='mx-0.5' selfClass='py-2 {{ currentCategory ? "btn-light" : "btn-primary" }}'
                  (click)='changeCategory()'
                  label='All&nbsp;({{ numberOfGenerateTypes }})'></moc-button>
      <moc-button class='mx-0.5'
                  selfClass='py-2 {{ currentCategory?.id === category.id ? "btn-primary" : "btn-light" }}'
                  *ngFor='let category of categories'
                  (click)='changeCategory(category)'
                  label='{{ category.name | truncate: 20 }}&nbsp;({{ category.generateTypes.length }})'></moc-button>
    </div>
    <div class='text-center {{ types && types.length ? "hidden" : "" }}'>
      <p>{{ 'modal.choose_type.not_match' | translate }}</p>
      <p class='hover:underline text-blue cursor-pointer'
         (click)='formControl.setValue(undefined)'>{{ 'modal.choose_type.clear_credential' | translate }}</p>
    </div>
    <div class='flex flex-wrap content-start h-5/6 overflow-y-scroll'>
      <div
        class='m-3 p-4 cursor-pointer rounded w-1/4 {{ (options.current && type.id === options.current.id) ? "bg-gray" : "hover:bg-gray" }}'
        (click)='close(type)'
        *ngFor='let type of types'>
        <p class='font-medium first-letter:underline'>{{ type.code }}</p>
        <p class='text-gray'>{{ type.description | truncate: 90 }}</p>
        <ng-container *ngIf='options?.isGenerateType'>
          <li class='text-gray' *ngFor='let source of type.sources'>{{ source.value | truncate: 20 }}</li>
        </ng-container>
      </div>
    </div>
  </div>
</div>
